<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Note app se realizó con el fin de utilizar varias tecnologias para desarrollo de software. </p>
        <ul class="list-unstyled">
            <li class="media">
                <img src="../../img/nodejs.png" width="10%" height="10%" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Nodejs</h5>
                    Es un entorno en tiempo de ejecución multiplataforma, de código abierto,
                    para la capa del servidor basado en el lenguaje de programación JavaScript, asíncrono,
                    con E/S de datos en una arquitectura orientada a eventos y basado en el motor V8.
                </div>
            </li>
            <li class="media my-4">
                <img src="../../img/express.png" width="10%" height="10%" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Expressjs</h5>
                    Es un marco de aplicación web para Node.js, lanzado como software gratuito y de código abierto bajo
                    la Licencia MIT.
                    Está diseñado para crear aplicaciones web y API. Se le ha llamado el marco de servidor estándar de
                    facto para Node.js.
                </div>
            </li>
            <li class="media">
                <img src="../../img/mongo.png" width="10%" height="10%" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">MongoDB</h5>
                    Es un sistema de base de datos NoSQL, orientado a documentos y de código abierto.
                    En lugar de guardar los datos en tablas, tal y como se hace en las bases de datos relacionales,
                    MongoDB guarda estructuras de datos BSON (una especificación similar a JSON) con un esquema
                    dinámico,
                    haciendo que la integración de los datos en ciertas aplicaciones sea más fácil y rápida.
                </div>
            </li>
            <li class="media">
                <img src="../../img/npm.png" width="10%" height="10%" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">NPM</h5>
                    Es el sistema de gestión de paquetes por defecto para Node.js, un entorno de ejecución para
                    JavaScript.
                </div>
            </li>
            </li>
            <li class="media">
                <img src="../../img/git.png" width="10%" height="10%" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Git</h5>
                    Es un software de control de versiones diseñado por Linus Torvalds, pensando en la eficiencia y la confiabilidad del mantenimiento de versiones de aplicaciones cuando éstas tienen un gran número de archivos de código fuente.
                </div>
            </li>
            <li class="media">
                <img src="../../img/heroku.png" width="10%" height="10%" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Heroku</h5>
                    Es una plataforma como servicio de computación en la Nube que soporta distintos lenguajes de
                    programación.
                </div>
            </li>

        </ul>
    </div>

</section>